@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logofp{
    justify-content: center; 
    align-items: center; 
    top: 40%;
    left: 40%;
    position: fixed;
}

.splash {
    position: fixed;
    font-family: "Poppins", sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFDF4; 
}

.splash::before {
    content: "";
    position: absolute;
    font-family: "Poppins", sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFDF4;
    background-size: cover;      
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}


.fade-in1{
    font-weight: 700;
    font-size: 40px;
    color: black;   
    text-align: center;
    justify-content: center;
    padding-top: 10rem;
}

.fade-in2{
    font-weight: 300;
    font-size: 40px;
    color: black;   
    text-align: center;
    justify-content: center;
    line-height: 20rem;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    transition: all 2s;
}

.header{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 736px) {
    .logofp{
        width: 10rem;
        justify-content: center;
    }
    .splash::before {
        background-image: url(/resources/frontImg/istockphoto-1130230765-612x612.jpg);  
    }
    .fade-in{
        font-size: 2rem;
        color: black;
        text-align: justify;
    }

}

@media screen and (max-width: 1024px) {
    .logofp{
        width: 10rem;
        justify-content: center;
    }
    .splash::before {
        background-image: url(/resources/frontImg/istockphoto-1130230765-612x612.jpg);  
    }
    .fade-in{
        font-size: 2rem;
        color: black;
        text-align: justify;
    }

}