@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --teal: #177285;
    --green: #D0E77A;
    --turquoise: #4FB4C8;
    --azure: #F5FEFF;
    --red: #FB6F70;
}

@font-face {
    font-family: 'CabinetGrotesk-Medium';
    src: url('../resources/fonts/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
        url('../resources/fonts/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Medium.woff') format('woff'),
        url('../resources/fonts/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Medium.ttf') format('ttf');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

* {
    margin: 0;
}

.hide{
    transition: 2s ease-in-out;
    display: none;
}

.splash {
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--azure);
}

.splash_elements {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash_logo {
    transform: scale(0.90);
    padding: 25px 5px;
}

#svg{
    stroke: var(--teal);
    fill-opacity: 0.1;
    stroke-dasharray: 493;
    stroke-width: 2.5px;
    animation: draw 2s ease-in-out 0s 1 forwards;

}

@keyframes draw{
    0%{
        stroke-dashoffset: 493;
        fill-opacity: 0.1;
    }
    70%{
        stroke-dashoffset: 0;
        fill-opacity: 0.3;
    }
    100%{
        fill-opacity: 1;
        stroke-width: 0px;
    }
}

.splash_title {
    font-family: "CabinetGrotesk-Medium";
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    font-size: 38px;
    color: black;
    text-align: center;
}

.splash_line{
    height: 0.1px;
    width: 235px;
    background-color: black;
}

.splash_content {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 19px;
    color: black;
    text-align: center;
    padding: 10px 5px
}

.splash::before {
    content: "";
    position: absolute;
    font-family: "Poppins", sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--azure);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

.header {
    display: flex;
    flex-direction: row;
}

/* @media screen and (max-width: 736px) {
    .logofp{
        width: 10rem;
        justify-content: center;
    }
    .splash::before {
        background-image: url(/resources/frontImg/istockphoto-1130230765-612x612.jpg);  
    }
    .fade-in{
        font-size: 2rem;
        color: black;
        text-align: justify;
    }

}

@media screen and (max-width: 1024px) {
    .logofp{
        width: 10rem;
        justify-content: center;
    }
    .splash::before {
        background-image: url(/resources/frontImg/istockphoto-1130230765-612x612.jpg);  
    }
    .fade-in{
        font-size: 2rem;
        color: black;
        text-align: justify;
    }

} */