
#hero {
    width: 100%;
    // background-color: #20202d;

    .image_div {
        width: 100%;
        height: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#cards {
    background-color: #20202d;
    padding: 5%;
    .cards-content {
        display: flex;
        flex-wrap: wrap;
        // column-gap: 5rem;
        // row-gap: 6rem;
        justify-content: center;
        margin: -5rem 0 0 -5rem;
        .event-card {
            overflow: hidden;
            width: 21rem;
            border-radius: 8px;
            margin: 5rem 0 0 5rem;
            .event-img {
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    display: block;
                }
            }
            .card-details {
                background-color: white;
                padding: 10%;
                height: 100%;
                h4 {
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }
                p {
                    text-align: justify;
                    margin-bottom: 2rem;
                    line-height: 1.4rem;
                }
                a {
                    padding: 2.9% 10%;
                    width: 29%;
                    text-align: center;
                    text-decoration: none;
                    background-color: #009acf;
                    font-size: 1.1rem;
                    color: white;
                    letter-spacing: 1px;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 568px) {
    #hero {
        height: 33vh;
    }
    #cards{
        padding: 15% 5% !important;
    }
    .cards-content {
        // row-gap: 4rem !important;
        margin: -4rem 0 0 -4rem!important;
        .event-card {
            width: 270px !important;
            margin: 4rem 0 0 4rem!important;
            .card-details {
                padding: 8% 10% !important;
                h4 {
                    font-size: 1.5rem;
                    margin-bottom: 0.6rem !important;
                }
                p {
                    margin-bottom: 1rem !important;
                    line-height: 1.1rem !important;
                    font-size: 0.8rem;
                }
                a {
                    padding: 2.5% 6% !important;
                    font-size: .9rem !important;
                }
            }
        }
    }
}

@media screen and (min-width: 569px) and (max-width: 750px) {
    
    #cards{
        padding: 8% 5% !important;
    }
    .cards-content {
        // column-gap: 3rem !important;
        // row-gap: 4rem !important;
        margin: -4rem 0 0 -4rem!important;
        .event-card {
            width: 250px !important;
            margin: 4rem 0 0 4rem!important;
            .card-details {
                padding: 6% 10% !important;
                h4 {
                    font-size: 1.5rem;
                    margin-bottom: 0.6rem !important;
                }
                p {
                    margin-bottom: 1rem !important;
                    line-height: 1.1rem !important;
                    font-size: 0.8rem;
                }
                a {
                    width: 25% !important;
                    padding: 3% 6% !important;
                    font-size: .9rem !important;
                }
            }
        }
    }
}

@media screen and (min-width: 751px) and (max-width: 1025px) {
    #hero {
        height: 500px;
    }
    #cards{
        padding: 8% 5% !important;
    }
    .cards-content {
        // column-gap: 4rem !important;
        // row-gap: 4rem !important;
        margin: -4rem 0 0 -4rem!important;
        .event-card {
            width: 250px !important;
            margin: 4rem 0 0 4rem!important;
            .card-details {
                padding: 7% !important;
                h4 {
                    font-size: 1rem!important;
                    margin-bottom: 0.6rem !important;
                }
                p {
                    margin-bottom: .8rem !important;
                    line-height: 1.1rem !important;
                    font-size: 0.8rem;
                }
                a {
                    width: 25% !important;
                    padding: 2.5% 5% !important;
                    font-size: .8rem !important;
                }
            }
        }
    }
}
