.footer__section {
    width: 100%;
    padding: 3% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .footer__content {
        display: flex;
        flex-direction: column;
        // gap: 3rem;

        .footer__top {
            display: flex;
            margin-bottom: 2rem;
        }

        .events__links {
            border-right: 1.5px solid grey;
            // width: 330px;
            display: flex;
            // gap: 4rem;
            margin-right: 3rem;

            .secondary__events {
                .non-technical__links {
                    margin-bottom: 1rem;
                }
            }

            .Technical__links,
            .non-technical__links,
            .workshop__links {
                display: flex;
                flex-direction: column;
                // gap: 0.5rem;
                margin-right: 4rem;
                h3 {
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                }

                a {
                    text-decoration: none;
                    font-size: 0.9rem;
                    color: black;
                    opacity: 80%;
                    margin-bottom: 0.5rem;

                    &:hover {
                        opacity: 100%;
                    }
                }
            }
        }

        .footer__contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            // gap: 1rem;


            .contact__info {
                text-align: center;
                display: flex;
                flex-direction: column;
                // gap: 1rem;
                margin-bottom: 1rem;
                h3 {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }

                .info__mail {
                    display: flex;
                    align-items: center;
                    // gap: 1rem;

                    a {
                        text-decoration: none;
                        color: black;
                        margin-left: 1rem;
                    }
                }
            }

            .contact__social {
                text-align: center;

                h3 {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }
            }
        }

        .sm__image {
            width: 20px;
            height: 20px;
        }

        .insta {
            margin-right: 1rem;
        }

        
    }

    .footer__phone {
        padding: 4% 2%;
        width: 100%;
        display: none;

        .phone__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            // gap: 2rem;

            .top__content {
                display: flex;
                justify-content: center;
                margin-bottom: 1.5rem;
                a {
                    text-decoration: none;
                    // padding: 1% 5%;
                    color: black;
                }

                p {
                    margin: 0 5%;
                    opacity: 60%;
                }
            }

            .middle__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 5%;
                margin-bottom: 1.5rem;
                .info__mail {
                    display: flex;
                    // gap: 1rem;
                    a {
                        text-decoration: none;
                        color: black;
                        margin-left: 1rem;
                    }
                }
            }

            .bottom__content {
                display: flex;
                justify-content: center;
                margin-bottom: 1.5rem;
                // gap: 1rem;
                p {
                    margin-right: 1rem;
                }
            }

            .sm__image {
                width: 20px;
                height: 20px;
            }

            .insta {
                margin-right: 1rem;
            }
        }
    }

    .college {
        text-align: center;
        img {
            width: 55px;
            height: 35px;
            margin-bottom: 0.5rem;
            object-fit: cover;
        }

        p {
            color: black;
            opacity: 90%;
            font-size: .9rem;
        }
        
        p + p {
            margin-top: 0.5rem;
        }
    }
}

@media screen and (max-width: 568px) {
    .footer__content {
        display: none !important;
    }

    .footer__phone {
        display: flex !important;
    }
}
