@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');


:root{
    --teal: #177285;
    --green: #D0E77A;
    --turquoise: #4FB4C8;
    --azure: #F5FEFF;
    --red: #FB6F70;
    --water: #CEF5F9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.nav_container {
    width: 100%;
}

.navbar {
    display: grid;
    grid-template-columns: 0.1fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
}

.navbar_logo {
    transform: scale(0.28);
    justify-self: start;
    cursor: pointer;
    background-color: transparent;
}

.nav_menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 83%;
    justify-self: end;
    font-family: "Poppins";
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 200;
}

.curr_nav_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -7px;
}

.curr_nav_link {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    color: var(--teal);
}

.nav_link {
    text-decoration: none;
    color: black
}

.curr_item_underline {
    margin-top: 3px;
    height: 2px;
    width: 57px;
    background-color: var(--teal);
}

.nav_item {
    font-family: "Poppins";
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.special_menu_item{
    background-color: #C7DDE2;
    color: var(--teal);
    padding: 8px 35px;
    border-radius: 8px;
    font-weight: 500;
    border: 2px solid var(--teal);
    transition: 0.5s;
}

.special_menu_item:hover{
    background-color: var(--teal);
    color: white !important;
}

.curr_nav_item:hover {
    color: var(--turquoise);
    transition: all 0.2s ease-out;
}

.curr_nav_item:hover .curr_item_underline {
    background-color: var(--turquoise);
    transition: all 0.2s ease-out;
}

.nav_link:hover {
    color: var(--turquoise);
    transition: all 0.2s ease-out;
}

.services_container{
    background-color: var(--azure);
}

.hero_section{
    width: 87%;
    max-width: 1720px;
    margin: auto;
    margin-top: 5rem;
    height: 20rem;
    font-family: "Baskervville";
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    background-color: var(--water);
    border-radius: 2rem;
}

.hero_section_text{
    border: 1px;
    border-radius: 2rem;
    background-color: transparent; 
    text-align: center;
    padding-top: 7rem;
    font-size: 3rem;
    font-weight: 100;
    color: var(--teal);
}

.hero_section_body{
    width: 87%;
    max-width: 1720px;
    margin: auto;
}

.container_top{
    display: flex;
    gap: 3rem;
    border-radius: 1rem;
    margin-top: 80px;
}

.container_bottom{
    display: flex;
    gap: 3rem;
    margin-top: 80px;
}

.container_content{
    width: 35%;
    border-radius: 2rem;
    height: 30%;
    overflow: hidden;
    box-shadow: 4px 4px 10px #0000002d;
}

.container_img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0;
}

.container_heading{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--teal);
    font-family: "Poppins"; 
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.container_text{
    text-align: center;
    font-family: "Poppins";
    font-size: .8rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.blog_section{
    text-align: center;
    background-color: var(--teal);
    background: linear-gradient(to bottom, var(--azure) 50%, var(--water) 0%);
    overflow: hidden;
    max-width: 1720px;
    margin:  5rem auto 0 auto;
}

.blog_text{
    border-radius: 8px;
    width: 80%;
    margin: auto;
    background-color: var(--teal);
    color: white;
    font-family: "Baskervville";
    font-size: 32px;
    font-weight: 200;
    padding: 25px; 
}


.gallery {
    width: 100%;
    padding: 100px;
    background-color: var(--water);
    max-width: 1720px;
    margin: auto;
}

.gallery h1 {
    text-align: center;
    color: var(--teal);
    font-family: "Baskervville";
    font-size: 2.5rem;
    font-weight: 100;
    background-color: var(--water);
}

.gallery_container {
    align-items: center;
    display: flex;
    height: 600px;
    max-width: 1000px;
    position: relative;
    background-color: var(--water);
    margin-top: 3rem;
    margin: auto;
}

.gallery_item {
    height: 600px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery_item-1 {
    left: 5%;
    /*   */
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-2, .gallery_item-4 {
    height: 350px;
    opacity: 0.8;
    width: 400px;
    z-index: 1;
    transform: scale(0.8);
}

.gallery_item-2 {
    left: 15%;
    transform: translateX(-50%) scale(0.8);
}

.gallery_item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 500px;
    opacity: 1;
    width: 700px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%) scale(1);
}

.gallery_item-4 {
    left: 85%;
    transform: translateX(-50%) scale(0.8);
}  

.gallery_item-5 {
    left: 95%;
    /* opacity: 0.4; */
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-6 {
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-7 {
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-8 {
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-9 {
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-10 {
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-11 {
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-12 {
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-13 {
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-14 {
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_item-15 {
    transform: translateX(-50%) scale(0.5);
    height: 200px;
}

.gallery_controls {
    display: flex;
    justify-content: center;
    gap: 10rem;
    background-color: var(--water);  
    
}

.gallery_content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.gallery_control_btn{
    height: 30px;
    width: 30px;
}

.gallery_controls button {
    background-color: var(--water);
    border: 0;
    cursor: pointer;
    font-size: 30px;
    text-transform: capitalize;
    color: var(--teal);
}

.gallery_container-button:focus {
    outline: none;
}

.gallery_controls:hover .gallery_controls-pre::before {
    left: -40px;
}

.gallery_controls:hover .gallery_controls-next::before {
    right: -40px;
}

.gallery_nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery_nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery_nav li.gallery_item-selector {
    background: #555;
}

footer {
    width: 100%;
    background-color: var(--teal);
    padding: 70px 0 35px 0;
    font-size: 13px;
    line-height: 20px;
    font-family: "Poppins";
    max-width: 1720px;
    margin: auto;
    align-items: center;
    /* margin-top: 85px; */
}

<<<<<<< HEAD:css/services.css

.gallery_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: black;
    font-size: 5rem; /* Adjust font size for larger arrows */
    padding: 2rem;
    cursor: pointer;
    z-index: 1000;
}

.gallery_arrow-left {
    left: -100px;
}

.gallery_arrow-right {
    right: -100px;
}

.gallery_arrow-left{
    color: var(--teal);
    font-size: 8rem;
}

.gallery_arrow-right{
    color: var(--teal);
    font-size: 8rem;
}
=======
.row {
    width: 85%;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    padding: 10px;
}

.col_logo {
    flex-basis: 50%;
}

.col_contact {
    flex-basis: 16%;
}

.col_links {
    flex-basis: 16%;
    margin-left: 25px;
}

.col_newsletter {
    flex-basis: 16%;
}

.logo {
    width: 60px;
    height: 22px;
    margin: 0 0 8px 35px;
}

.logo_name {
    font-size: 18px;
    color: var(--azure);
    letter-spacing: 2px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    font-family: "Poppins";
    font-weight: 500;
    color: var(--azure);
}

.contant_details {
    font-family: "Poppins";
    color: var(--azure);
    font-weight: 200;
    font-size: 12px;
}

.sub_title {
    font-family: "Poppins";
    color: var(--azure);
    font-weight: 400;
    margin: 20px 0 0;
}

.email_id {
    width: fit-content;
    border-bottom: 1px solid #f5feff93;
    font-family: "Poppins";
}

.phone {
    width: fit-content;
    border-bottom: 1px solid #f5feff93;
    font-family: "Poppins";
}

.col ul li {
    list-style: none;
    margin-bottom: 12px;
}

.col ul li a {
    text-decoration: none;
    color: var(--azure);
    font-family: "Poppins";
    font-weight: 200;
}

.newsletter_content {
    font-family: "Poppins";
    font-weight: 200;
    color: var(--azure);
    margin-bottom: 35px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: var(--azure);
    padding: 1px;
    border-radius: 5px;
}

form input {
    width: 100%;
    background: var(--azure);
    border: 0;
    outline: none;
    padding: 8px;
    border-radius: 5px;
}

form input::placeholder {
    color: black;
    opacity: 0.3;
    font-family: "Poppins";
}

form button {
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    background-color: var(--teal);
    align-self: center;
    justify-self: center;
}

.send_icon {
    transform: scale(0.7);
    padding: 4px 4px 0 4px;
}

.footer_bottom {
    margin-top: 100px;
}

.extra {
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1720;
    margin: auto;
}

hr {
    width: 92%;
    border: 0;
    border-bottom: 1px solid var(--azure);
    margin: 20px auto;
}

.copyright {
    color: var(--azure);
    font-weight: 200;
    flex-basis: 50%;
}

.social_icons {
    justify-self: end;
}

.icon {
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
}
>>>>>>> cf371a84ddee3f0ac492b6d41937c7a73d6806df:OurServices/services.css
