@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

:root {
    --teal: #177285;
    --green: #D0E77A;
    --turquoise: #4FB4C8;
    --azure: #F5FEFF;
    --red: #FB6F70;
    --water: #CEF5F9;
    --light_blue: #EDFDFF;
}

::-webkit-scrollbar {
    display: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_container {
    width: 100%;
}

.navbar {
    display: grid;
    grid-template-columns: 0.1fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
}

.navbar_logo {
    transform: scale(0.28);
    justify-self: start;
    cursor: pointer;
    background-color: transparent;
}

.nav_menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 83%;
    justify-self: end;
    font-family: "Poppins";
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 200;
}

.curr_nav_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -7px;
    font-family: "Poppins";
    font-weight: 200;
}

.curr_nav_link {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    color: var(--teal);
}

.nav_link {
    text-decoration: none;
    color: black
}

.curr_item_underline {
    margin-top: 3px;
    height: 2px;
    width: 57px;
    background-color: var(--teal);
}

.nav_item {
    font-family: "Poppins";
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.special_menu_item{
    background-color: #C7DDE2;
    color: var(--teal);
    padding: 8px 35px;
    border-radius: 8px;
    font-weight: 500;
    border: 2px solid var(--teal);
    transition: 0.5s;
}

.special_menu_item:hover{
    background-color: var(--teal);
    color: white !important;
}

.curr_nav_item:hover {
    color: var(--turquoise);
    transition: all 0.2s ease-out;
}

.curr_nav_item:hover .curr_item_underline {
    background-color: var(--turquoise);
    transition: all 0.2s ease-out;
}

.nav_link:hover {
    color: var(--turquoise);
    transition: all 0.2s ease-out;
}

.hero_section{
    width: 87%;
    max-width: 1720px;
    margin: auto;
    margin-top: 5rem;
    height: 20rem;
    font-family: "Baskervville";
    box-shadow: 0px 0px 15px #0000002d;
    background-color: var(--water);
    border-radius: 2rem;
}

.hero_section_text{
    border: 1px;
    border-radius: 2rem;
    background-color: var(--water); 
    text-align: center;
    padding-top: 7rem;
    font-size: 3rem;
    font-weight: 100;
    color: var(--teal);
}

.event_list{
    list-style: none;
}

.event{
    width: 100%;
    height: 100%;
    padding: 80px 10px;
    /* margin: 10px auto; */
    /* background-color: gray; */
}

.odd_event{
    background-color: var(--light_blue);
}

.event_container{
    width: 90%;
    margin: auto;
    max-width: 1720px;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    /* background-color: var(--red); */
}

.event_images{
    margin: 20px;
    /* padding: 20px; */
    border-radius: 1rem;
    overflow: hidden;
}

.swiper-slide{
    border-radius: 1rem;
    overflow: hidden;
}

.event_img{
    width: 400px !important;
    height: 350px !important;
    border-radius: 1rem;
}

.event_content{
    padding: 0 20px 20px 20px;
}

.event_content p{
    font-family: "Poppins";
    font-weight: 200;
    font-size: 16px;
}

.event_details{
    display: flex;
    flex-direction: row;
}

.event_details h2{
    width: 100%;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 30px;
    color: var(--teal);
    align-items: center;
}

.event_date{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.event_date h2{
    font-size: 18px;
}

.event_date img{
    height: 30px;
    width: 30px;
}

.left_btn, .right_btn{
    color: #D9D9D9 !important;
}

.left_btn:hover, .right_btn:hover{
    color: var(--water) !important;
    transition: 1s ease; 
}

.upcoming_section{
    max-width: 1720px;
    margin: auto;
}

.upcoming_title h1{
    font-family: "Baskervville"; 
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    color: var(--teal);
}

.upcoming_events{
    border-radius: 1rem;
    overflow: hidden;
    margin: 80px auto;
    width: 80%;
    box-shadow: 4px 4px 15px #0000002d;
    padding: 30px;
}

.selected_item{
    background-color: var(--light_blue);
    max-height: 500px !important;
    transition: max-height 1s ease-in-out !important;
}

.upcoming_list{
    padding: 0;
}

.upcoming_item{
    list-style: none;
    margin: auto;
    margin: 5px;
    border-radius: 1rem;
    overflow: hidden;
    max-height: 80px;
    transition: 0.5s ease-in-out;
}

.upcoming_item_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px 0 50px;
    /* background-color: blue; */
}

.upcoming_item_details h2{
    font-family: "Poppins";  
    font-weight: 300;  
    font-size: 16px;
}

.upcoming_item_details h3{
    font-family: "Poppins";  
    font-weight: 300;  
    font-size: 18px;
}

.upcoming_item_details img{
    width: 20px;
    height: 20px;
    margin: 10px;
}

.upcoming_item_content p{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 200;
    padding: 0 50px 20px 50px;
    /* background-color: red; */
}

.drop_down{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.drop_down img{
    transition: 0.7s;
}   

footer {
    width: 100%;
    background-color: var(--teal);
    padding: 70px 0 35px 0;
    font-size: 13px;
    line-height: 20px;
    font-family: "Poppins";
    max-width: 1720px;
    margin: auto;
    align-items: center;
    /* margin-top: 85px; */
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    padding: 10px;
}

.col_logo {
    flex-basis: 50%;
}

.col_contact {
    flex-basis: 16%;
}

.col_links {
    flex-basis: 16%;
    margin-left: 25px;
}

.col_newsletter {
    flex-basis: 16%;
}

.logo {
    width: 60px;
    height: 22px;
    margin: 0 0 8px 35px;
}

.logo_name {
    font-size: 18px;
    color: var(--azure);
    letter-spacing: 2px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    font-family: "Poppins";
    font-weight: 500;
    color: var(--azure);
}

.contant_details {
    font-family: "Poppins";
    color: var(--azure);
    font-weight: 200;
    font-size: 12px;
}

.sub_title {
    font-family: "Poppins";
    color: var(--azure);
    font-weight: 400;
    margin: 20px 0 0;
}

.email_id {
    width: fit-content;
    border-bottom: 1px solid #f5feff93;
    font-family: "Poppins";
}

.phone {
    width: fit-content;
    border-bottom: 1px solid #f5feff93;
    font-family: "Poppins";
}

.col ul li {
    list-style: none;
    margin-bottom: 12px;
}

.col ul li a {
    text-decoration: none;
    color: var(--azure);
    font-family: "Poppins";
    font-weight: 200;
}

.newsletter_content {
    font-family: "Poppins";
    font-weight: 200;
    color: var(--azure);
    margin-bottom: 35px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: var(--azure);
    padding: 1px;
    border-radius: 5px;
}

form input {
    width: 100%;
    background: var(--azure);
    border: 0;
    outline: none;
    padding: 8px;
    border-radius: 5px;
}

form input::placeholder {
    color: black;
    opacity: 0.3;
    font-family: "Poppins";
}

form button {
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    background-color: var(--teal);
    align-self: center;
    justify-self: center;
}

.send_icon {
    transform: scale(0.7);
    padding: 4px 4px 0 4px;
}

.footer_bottom {
    margin-top: 100px;
}

.extra {
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1720;
    margin: auto;
}

hr {
    width: 92%;
    border: 0;
    border-bottom: 1px solid var(--azure);
    margin: 20px auto;
}

.copyright {
    color: var(--azure);
    font-weight: 200;
    flex-basis: 50%;
}

.social_icons {
    justify-self: end;
}

.icon {
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
}